<html lang="en">

<head>
    <% include ../partials/head %>
</head>

<body>
    <header>
        <% include ../partials/navbar %>
    </header>

    <main>
        <h1>MEET Y2 CS Curriculum</h1>
        <p>Welcome to MEET!</p>
    </main>

    <footer>
        <% include ../partials/footer %>
    </footer>
</body>

</html>