<html lang="en">

<head>
  <% include ../partials/head %>
  <link rel="stylesheet" href="/css/slides.css">
</head>

<body>
  <header>
    <% include ../partials/navbar %>
  </header>

  <main>
    <div class="hero-wrapper">
      <section class="container hero">
        <h1 class="title">Slides</h1>
      </section>
    </div>

  </main>

  <footer>
    <% include ../partials/footer %>
  </footer>
</body>

</html>